.navbar{
    justify-content: space-between;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav, mat-sidenav-content{
    padding: 16px;
}

mat-sidenav {
    background-color: #FF4081;
    width: 200px;
}

mat-sidenav{
    color: #ffffff;
}


  