<style>
 .image {
  right: 10%;
  position: absolute;

 }

 .materialBut{
  vertical-align: middle;
  position: relative;
  top: -1px;
  padding-right: 1rem;
  margin-left: 10px;
  height:3rem
}
</style>


<div style="background-color:#0079BF; height: 100%;">

    <mat-grid-list cols="2" rowHeight="2:2">
        <mat-grid-tile>
            <div>
                <div class="mat-display-1" style="margin-left: 5%; color: white;">
                    <strong> 
                        To Do is a cloud-based task management application. 
                        It allows you to manage your tasks from a smartphone, tablet and computer!
                    </strong>
                </div>
                <div style="margin-left: 5%;">
                    <input type="email" style="height:3rem; width: 20rem; border-radius:5px; border: none; font-size: 18pt; padding-left: 2%;" placeholder="example@email.com">
                    <button mat-raised-button color="accent" class="materialBut">
                        <strong>
                            Sign Up
                        </strong>
                    </button>
                </div>
            </div>
           

        </mat-grid-tile>
        <mat-grid-tile>
            <img  class="image"  src="assets/img/wellcome.png">
        </mat-grid-tile>
      </mat-grid-list>




    <div></div>
</div>
